Makefile

config.log
config.status

data/ic_table.fits
data/ntb_ee_table.fits
data/syn_table.fits

doc/help
doc/html
doc/pdf
doc/ps
doc/sgml
doc/text
doc/tm/nonthermal.aux
doc/tm/nonthermal.log
doc/tm/nonthermal.out
doc/tm/nonthermal.sgml~
doc/tm/nonthermal.tex
doc/tm/nonthermal.tex~
doc/tm/nonthermal.toc
doc/tm/nonthermalfuns.tm

src/Makefile
src/config.h
src/elfobjs
